<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490243548878-34de3rg777fs0shshud2l57hs3e9sr1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490243548878-34de3rg777fs0shshud2l57hs3e9sr1p</string>
	<key>API_KEY</key>
	<string>AIzaSyCGyUkCEZBSLHzh3m3OC0z3OZLBkg6KdjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>490243548878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineClass</string>
	<key>PROJECT_ID</key>
	<string>class-room-online</string>
	<key>STORAGE_BUCKET</key>
	<string>class-room-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490243548878:ios:de59ccee2cb79c5522129f</string>
	<key>DATABASE_URL</key>
	<string>https://class-room-online-default-rtdb.firebaseio.com</string>
</dict>
</plist>